#DB1 (RM)
NET "ENC[0]"  LOC = "P95"  ;   #1
NET "ENC[1]"  LOC = "P96"  ;   #2
NET "ENC[2]"  LOC = "P97"  ;   #3
NET "ENC[3]"  LOC = "P99"  ;   #4
NET "ENC[4]"  LOC = "P100"  ;  #5
NET "ENC[5]"  LOC = "P101"  ;  #6
NET "ENC[6]"  LOC = "P102"  ;  #7
NET "ENC[7]"  LOC = "P103"  ;  #8
NET "ENC[8]"  LOC = "P107"  ;  #9
NET "ENC[9]"  LOC = "P108"  ;  #10
NET "ENC[10]"  LOC = "P109"  ; #12
NET "ENC[11]"  LOC = "P110"  ; #13
NET "ENC[12]"  LOC = "P111"  ; #14
NET "ENC[13]"  LOC = "P113"  ; #15

NET "SNC[0]"  LOC = "P114"  ;  #16
NET "SNC[1]"  LOC = "P115"  ;  #17
NET "SNC[2]"  LOC = "P116"  ;  #18
NET "SNC[3]"  LOC = "P117"  ;  #19
NET "SNC[4]"  LOC = "P118"  ;  #20
NET "SNC[5]"  LOC = "P125"  ;  #21
NET "SNC[6]"  LOC = "P126"  ;  #23
NET "SNC[7]"  LOC = "P127"  ;  #24
NET "SNC[8]"  LOC = "P128"  ;  #25
NET "SNC[9]"  LOC = "P130"  ;  #26

NET "LOCK"  LOC = "P131"  ;    #27
NET "RESERVE_IN"  LOC = "P133"  ;  #29
NET "RESERVE_OUT"  LOC = "P140"  ;  #31
NET "BUSY_IN"  LOC = "P153"  ;  #40
NET "BUSY_OUT"  LOC = "P139"  ;  #30
NET "CLEAR"  LOC = "P149"  ;  #38
NET "TRIG1"  LOC = "P152"  ;  #39
NET "TRIG2"  LOC = "P147"  ;  #37

#DB2 (NIM IO)
NET "NIM_IN[0]"  LOC = "P5"  ;  #3
NET "NIM_IN[1]"  LOC = "P6"  ;  #4
NET "NIM_IN[2]"  LOC = "P7"  ;  #5
NET "NIM_IN[3]"  LOC = "P9"  ;  #6
NET "NIM_IN[4]"  LOC = "P10"  ;  #7
NET "NIM_IN[5]"  LOC = "P11"  ;  #8
NET "NIM_IN[6]"  LOC = "P12"  ;  #9
NET "NIM_IN[7]"  LOC = "P13"  ;  #10
NET "NIM_IN[8]"  LOC = "P17"  ;  #12
NET "NIM_IN[9]"  LOC = "P18"  ;  #13
NET "NIM_IN[10]"  LOC = "P19"  ;  #14
NET "NIM_IN[11]"  LOC = "P20"  ;  #15
NET "NIM_IN[12]"  LOC = "P21"  ;  #16
NET "NIM_IN[13]"  LOC = "P23"  ;  #17
NET "NIM_IN[14]"  LOC = "P24"  ;  #18
NET "NIM_IN[15]"  LOC = "P25"  ;  #19

NET "NIM_OUT[0]"  LOC = "P35"  ;  #27
NET "NIM_OUT[1]"  LOC = "P36"  ;  #28
NET "NIM_OUT[2]"  LOC = "P38"  ;  #29
NET "NIM_OUT[3]"  LOC = "P39"  ;  #30
NET "NIM_OUT[4]"  LOC = "P40"  ;  #31
NET "NIM_OUT[5]"  LOC = "P41"  ;  #32
NET "NIM_OUT[6]"  LOC = "P42"  ;  #33
NET "NIM_OUT[7]"  LOC = "P46"  ;  #34
NET "NIM_OUT[8]"  LOC = "P47"  ;  #36
NET "NIM_OUT[9]"  LOC = "P48"  ;  #37
NET "NIM_OUT[10]"  LOC = "P49"  ;  #38
NET "NIM_OUT[11]"  LOC = "P50"  ;  #39
NET "NIM_OUT[12]"  LOC = "P52"  ;  #40
NET "NIM_OUT[13]"  LOC = "P53"  ;  #41
NET "NIM_OUT[14]"  LOC = "P54"  ;  #42
NET "NIM_OUT[15]"  LOC = "P55"  ;  #43

#VME bus
NET "DATA[0]"  LOC = "P177"  ; 
NET "DATA[1]"  LOC = "P167"  ; 
NET "DATA[2]"  LOC = "P163"  ; 
NET "DATA[3]"  LOC = "P156"  ; 
NET "DATA[4]"  LOC = "P145"  ; 
NET "DATA[5]"  LOC = "P138"  ; 
NET "DATA[6]"  LOC = "P134"  ; 
NET "DATA[7]"  LOC = "P124"  ; 
NET "DATA[8]"  LOC = "P174"  ; 
NET "DATA[9]"  LOC = "P175"  ; 
NET "DATA[10]"  LOC = "P176"  ; 
NET "DATA[11]"  LOC = "P186"  ; 
NET "DATA[12]"  LOC = "P187"  ; 
NET "DATA[13]"  LOC = "P188"  ; 
NET "DATA[14]"  LOC = "P189"  ; 
NET "DATA[15]"  LOC = "P191"  ; 
NET "DATA[16]"  LOC = "P94"  ; 
NET "DATA[17]"  LOC = "P93"  ; 
NET "DATA[18]"  LOC = "P87"  ; 
NET "DATA[19]"  LOC = "P86"  ; 
NET "DATA[20]"  LOC = "P85"  ; 
NET "DATA[21]"  LOC = "P84"  ; 
NET "DATA[22]"  LOC = "P82"  ; 
NET "DATA[23]"  LOC = "P81"  ; 
NET "DATA[24]"  LOC = "P80"  ; 
NET "DATA[25]"  LOC = "P79"  ; 
NET "DATA[26]"  LOC = "P78"  ; 
NET "DATA[27]"  LOC = "P74"  ; 
NET "DATA[28]"  LOC = "P73"  ; 
NET "DATA[29]"  LOC = "P72"  ; 
NET "DATA[30]"  LOC = "P71"  ; 
NET "DATA[31]"  LOC = "P70"  ; 

#CPLD
NET "FA[0]"  LOC = "P220"  ;   #OPCS1
NET "FA[1]"  LOC = "P218"  ;   #OPCS2
NET "FA[2]"  LOC = "P217"  ;   #OPCS3
NET "FA[3]"  LOC = "P216"  ;   #OPCS4
NET "FA[4]"  LOC = "P215"  ;   #OPCS5
NET "FDTACK"  LOC = "P202"  ;  #OPCS14
NET "FRS"  LOC = "P209"  ;     #OPCS8
NET "FWS"  LOC = "P208"  ;     #OPCS9
NET "SYSCLK"  LOC = "P210"  ;  #OPCS7

#IO
NET "FIN1"  LOC = "P92"  ; 
NET "FIN2"  LOC = "P89"  ; 
NET "FIN3"  LOC = "P236"  ; 
NET "FIN4"  LOC = "P235"  ; 
NET "FOUT1"  LOC = "P234"  ; 
NET "FOUT2"  LOC = "P232"  ; 
NET "FOUT3"  LOC = "P231"  ; 
NET "FOUT4"  LOC = "P230"  ; 

NET "SYSCLK" TNM_NET = SYSCLK;
TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 32 MHz HIGH 50%;
